<div id="getfake_data">
	<table border="0">
		<tr>
			<% @ordered_fake_keys.each_with_index do |each_key, lnum|%>
			<td>
				<%= each_key%> 
			</td>
			<td width="30px;">
				→ 
			</td>
			<td>
				<span class="fakevalue"><%= @fake_hash[each_key]%></span>
			</td>
			<td>
				<%= clippy(@fake_hash[each_key])%>
			</td>
		</tr>
		<%end%>
	</tr>
</table>
</div>