body {
	font-family: arial, sans-serif;
	background-color: #fff;
}

a {
	text-decoration: none;
}

#getfake_title {
	color: #FF0077;
	font-size: 50px;
	font-weight: bold;
}

#container {
		margin-left: 15;
}

span.lineno {
	width: 3em;
	padding-right: 1em;
	color: #aaa;
	text-align: right;
}

span.highlight:hover{
	background-color: #99FF99;
}

#getfake_data {
	width: 500;
}

.fakevalue {
	color: #FF0077;
}

.ajaxlinks_left { 
	float:left; 
	width:90px; 
	margin:0; 
	padding:0; 
	bottom left	 no-repeat;
}
.ajaxlinks_right { 
	float:left; 
	width:150px; 
	margin:0;
	padding:0; 
	bottom right no-repeat; 
}

.yaml {
  font-family: courier;
  padding: 1px;
  background: #e9e9e9;
  color: #2d2d2d;
}


