<div id="getfake_data">
<br />
  <% @fake_keys.each_with_index do |each_key, lnum|%>
    <div class="element1">
    <!-- <span class="lineno"><%= lnum+1 %></span>-->
    <span class="highlight"><%= each_key%> → <span class="fakevalue"><%= @fake_hash[each_key]%></span></span><br>
    </div>
  <%end%>
</div>




