<dl>
  <dt><a href="#">first</a></dt>
  <dd>
  <ul>
    <li>santosh</li>
    <li>manasi</li>
  </ul>
  </dd>
  </dt>
  <dt><a href="#">second</a></dt>
  <dd>
  <ul>
    <li>anil</li>
    <li>cars</li>
  </ul>
  </dd>
  </dt>
  <dt><a href="#">third</a></dt>
  <dd>
  <ul>
    <li>sunil/li>
    <li>racing</li>
  </ul>
  </dd>
  </dt>
</dl>
