<div id="getfake_title">Save your neurons</div><br>
<div id="container">
  <%= render :partial => 'getfake_data' %>
</div>
<div>
<div>
<br />
<div class="ajaxlinks_left">
» <a href="/home/refresh_getfake_data">Refresh</a> <img id="loader" src="images/loader.gif"> <br />
</div>
<div class="ajaxlinks_right">
» <a href="/home/refresh_getfake_yaml">Get Yaml</a> <img id="loader2" src="images/loader.gif"><br />
</div>
<div>
<br />
<hr>
(( copyright two thousand eight anil wadghule ))


  