<html>
  <head>
    <title>Faker App</title>
 	  <%= javascript_include_tag 'jquery', 'jquery.livequery.js', 'prototype', 'application' %>
 	  <script type="text/javascript" src="http://anilwadghule.com/javascripts/code_highlighter/CodeHighlighter.js"></script>
 	  <%= stylesheet_link_tag "getfake" %>
  </head>
  <body>
    <%= yield%>
    </body>
</html>
